main article {
  margin-bottom: 1.5rem;
}

main article .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--caption-color);
}

main article .title a {
  font: inherit;
  text-decoration: inherit;
  color: inherit;
}

main article .title a:hover {
  text-decoration: underline;
}

main article .information {
  padding-top: 0.25em;
  color: grey;
}

main article .body {
  padding-left: 0.75em;
  border-left: 5px solid var(--border-color);
}

main article .attachment {
  padding: 0;
  margin: 0.25em 0;
  font-size: 0.8rem;
  color: grey;
  list-style-type: none;
}

main article .attachment li {
  padding: 0.15em 0;
}

main article .attachment li::before {
  display: inline-block;
  vertical-align: top;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 0.25em;
  background: url("../img/paperclip-16x16.png") no-repeat;
}

main article .footer {
  padding: 0.35em 0.5em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: auto;
}

main article .footer span {
  margin: 0 0.5rem;
}

main article .footer .left {
  float: left;
}

main article .footer .left > * {
  vertical-align: middle;
}

main article .footer .right {
  float: right;
  line-height: 1.25em;
  font-size: 0.9rem;
}

main article .footer .right img {
  position: relative;
  margin-right: 0.5em;
  top: 0.15em;
}

main .comments-box .user {
  width: 100px;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem;
}

main .comments-box .comment .content {
  vertical-align: top;
  padding: 0.5rem;
}

main .comments-box .comment .content .information {
  color: grey;
  font-size: 0.75rem;
}

main .comments-box .form-box {
  width: 100%;
  padding: 0.5rem;
}

main .comments-box .form-box textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

main .comments-box .form-box input {
  float: right;
}

main .comments-box .form-box .error {
  margin-left: 0;
}
